html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
}
.bg-celeste-argentina{
    background-color: #37bbed;
}
.navbar-custom{
    min-height: 72px;
}
.header-description{
    min-height: 15rem;
    background-color:rgba(0, 0, 0, 0.188);
    padding-top: 5rem;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.links a{
    text-decoration:none;
    color: black;
    display: block;
    padding: 13px;
}
.links{
    background-color: #f9f9f9;
    text-align: left;
    display: none;
}
.links-texto{
    padding-left: 3.3rem;
}
.links a:hover{
    background-color: #c7c7c7;
}
.desplegable:hover .links{
    display: block;
}
.padre-desplegable{
    position: relative;
}
.desplegable{
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
}

