:root {
    --color-cultura-primary: #37BBED;
    --color-cultura-secondary: #2897D4;
    --color-cultura-tertiary: #F2F2F2;
    --color-cultura-white: #FFFFFF;
  }
@media screen and (max-width: 767px) {
/* Aquí van los estilos para dispositivos móviles */
.contenedor-gris-redondeado{
  padding-left: 25px;
  padding-right: 25px;
}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
/* Aquí van los estilos para tablets */
.contenedor-gris-redondeado{
  padding-left: 35px;
  padding-right: 35px;
}
}
@media screen and (min-width: 1025px) {
  .contenedor-gris-redondeado{
    padding-left: 50px;
    padding-right: 50px;
  }
/* Aquí van los estilos para notebooks y monitores de computadora */
}
.sidebar {
    width: 6.5rem;  
    margin-right: unset; 
    position: fixed; 
    left: 0; 
    height:100%; 
    background-color: var(--color-cultura-primary);
}
/* botones estilos pisados de boostrap y propios */
.btn:focus{
    box-shadow: 0 0 0 0rem rgba(13,110,253,.25);
}
.btn-offcanvas-dismiss {
    max-width:410px; 
    width: 100%; 
    position: fixed;
}
.btn-sidebar:hover{
    background-color: var(--color-cultura-white);
}
/* .btn-sidebar-cultura:hover {
background-color: var(--color-cultura-white);
}
.btn-sidebar-institucion:hover {
background-color: var(--color-cultura-white);
}
.btn-sidebar-escritura:hover {
background-color: var(--color-cultura-white);
}
.btn-sidebar-usuarios:hover {
background-color: var(--color-cultura-white);
}
.btn-sidebar-calendario:hover {
background-color: var(--color-cultura-white);
}
.btn-sidebar-caja:hover {
background-color: var(--color-cultura-white);
} */
.btn-sidebar-cultura:hover img {
    content: url("/img/Ícono Cultura Celeste.png");
}
.btn-sidebar-institucion:hover img {
  content: url("/img/Ícono Institución Celeste.png");
}
.btn-sidebar-escritura:hover img {
  content: url("/img/Ícono Escritura Celeste.png");
}
.btn-sidebar-usuarios:hover img {
  content: url("/img/Ícono Usuarios Celeste.png");
}
.btn-sidebar-calendario:hover img {
  content: url("/img/Ícono Calendario Celeste.png");
}
.btn-sidebar-caja:hover img {
  /* no me pasaron la imagen todavia */
  content: url("/img/Ícono Caja Celeste.png");
}

.form-control {
  border-radius: 10px;
}
.form-select {
  border-radius: 10px;
  background-image: url("/img/Flecha abrir Tipo ingreso.png");

}

.offcanvas{
    background-color: var(--color-cultura-primary);
}
.link-offcanvas{
    color: var(--color-cultura-white);
    text-decoration: none;
}
.link-offcanvas:hover{
    color: var(--color-cultura-secondary);
    background-color: var(--color-cultura-white);
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/
/* Barrita scrolleable aesthetic */
.contenedor::-webkit-scrollbar {
    -webkit-appearance: none;
}

.contenedor::-webkit-scrollbar:vertical {
    width:10px;
}

.contenedor::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.contenedor::-webkit-scrollbar:horizontal {
    height: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
    background-color: var(--color-cultura-secondary);
    border-radius: 20px;
    border: 2px solid var(--color-cultura-secondary);
}

.contenedor::-webkit-scrollbar-track {
    border-radius: 10px;  
}
/* estilos para tablas */
.contenedor-tablas{
    max-height: 375px; 
    overflow: auto;
}
/* new tables */
  .cultura-table {
    border-collapse: separate;
    border-spacing: 0 5px;
    font-size: 14px;
    width: 100%;
  }
  
  .cultura-table thead {
    position: sticky;
    border-style: unset !important;
    top: 0;
    z-index: 1;
    background-color: var(--color-cultura-tertiary);
  }
  .cultura-table th {
    padding: 8px;
  }
  .cultura-table td{
    padding: 8px;
  }
  .cultura-table tr {
    box-shadow: 0px 2px 2px 1px rgba(195, 195, 195, 0.25);
    -webkit-box-shadow: 0px 2px 2px 1px rgba(195, 195, 195, 0.25);
    -moz-box-shadow: 0px 2px 2px 1px rgba(195, 195, 195, 0.25);
    border-radius: 25px !important;
  }
  
  .cultura-table td:first-child,
  .cultura-table th:first-child {
    border-radius: 10px 0 0 10px;
  }
  
  .cultura-table td:last-child,
  .cultura-table th:last-child {
    border-radius: 0 10px 10px 0;
  }
  
  .cultura-table .table-header {
    font-weight: 700;
  }
  
  .cultura-table .table-header small {
    font-weight: 500;
  }
